!data/audio
!data/cache/json
!data/cache/logs
!data/images
data/cache/json/*.json
data/cache/logs/*.log
.venv
.env
__pycache__
test.py
screenshot.jpg
webcam.jpg
import_test.py
data/audio/*
data/images/*
