!data/audio
!data/cache/logs
!data/images
data/cache/logs/*.log
data/cache/json/history.json
.venv
.env
__pycache__
test.py
test2.py
screenshot.jpg
webcam.jpg
import_test.py
data/audio/*.mp3
data/images/*.jpg
test